เน้นการเขียนโค้ดเเบบ Clean Code เเละใช้ SOLID principls
้ให้หา root cause ก่อนเเก้ปัญหา ทุกครั้ง ก่อนที่จะเเก้ที่โค้ดทันที 
เวลาเเก้โค้ดให้ข้าอย่าสร้างฟังก์ชั่นใหม่ เพราะข้ากำลังฝึกตามคนอื่นอยู่
จำไว้ว่าเมื่อมีปัญหาเเก้ที่ต้นเหตุเท่านั้นสำคัญสุด